.hero {
  padding-top: 4em;
  padding: 4em 0 2em 0;
  background-color: var(--darkteal);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 1.1px;
  font-size: 1.1em;
  border-bottom: 2px solid var(--salmon);
}

/* hero left */
.hero .left-side {
  max-width: 400px;
}
.hero .left-side h1 {
  color: var(--yellow);
}
.hero .left-side h3 {
  color: var(--salmon);
}
.hero .left-side p {
  margin-top: 2em;
}

.hero button {
  padding: 12px;
  margin-top: 2em;
  background-color: var(--salmon);
  font-weight: bold;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.3s ease;
}

.hero button:hover {
  background-color: var(--yellow);
  color: #000;
}

/* hero right */

.hero .right-side {
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin-left: 6em;
}

.hero .right-side img {
  max-width: 400px;
  max-height: 400px;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.6s ease;
}

.hero .right-side:hover img {
  transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding-left: 1em;
  }

  .right-side {
    display: none;
  }
}

/* Specials */

.specials {
  background-color: var(--darkteal);
  padding-top: 6em;

  border-top: 2px solid var(--salmon);
}

.specials h2 {
  text-align: center;
  color: var(--yellow);
  margin-bottom: 2em;
  font-size: 30px;
}

.specials-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.special-card {
  max-width: 300px;
  margin: 15px;
  background-color: var(--teal);
}

.special-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.special-card .card-info {
  padding: 8px;
}
.special-card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--yellow);
  font-weight: bold;
}
.special-card h3 {
  letter-spacing: 1px;
}

.special-card p.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #f2f2f2;
  margin: 3em 0;
  letter-spacing: 0.3px;
  text-align: center;
}
/* Reviews.css */

.reviews {
  background-color: var(--darkteal);

  padding: 6em 0 4em;
}

.reviews h2 {
  text-align: center;
  color: var(--yellow);
  margin-bottom: 2em;
  font-size: 30px;
}

.reviews-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.review-card {
  width: 300px;
  margin: 15px;
  padding: 15px;
  background-color: var(--teal);
}

.user-info h3 {
  margin-bottom: 10px;
  color: var(--yellow);
}

.review-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  border: 0.5px solid var(--salmon);
  box-shadow: 0 0 8px var(--salmon);
}

.score {
  background-color: var(--yellow);
  color: var(--darkteal);
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
}
.comment {
  line-height: 1.6;
  color: #f2f2f2;
  letter-spacing: 0.3px;
  padding: 1em 0;
}
.comment p {
  padding-top: 1em;
}

/* About */
.about {
  background-color: var(--terracotta);
  padding: 12em 0 6em;
  color: var(--darkteal);
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  padding: 20px;
}

.about-left {
  flex: 1;
  max-width: 600px;
}

.about-left h2 {
  color: var(--teal);
}

.about-left h3 {
  margin-bottom: 40px;
  color: var(--darkteal);
}

.about-left p {
  color: var(--darkteal);
  letter-spacing: 1px;
}

.about-right {
  position: relative;
  margin-left: 20px;
}

.pasta2 {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.3);
}

.pasta1 {
  width: 400px;
  height: auto;
  margin-top: 20px;
  z-index: -1;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-right {
    margin-left: 0;
    text-align: center;
  }
  .pasta2 {
    width: 150px;
  }
  .pasta1 {
    width: 300px;
  }
}
