.hero {
  padding: 15px;
  background-color: #495e57;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* hero left */
.hero .left-side {
  max-width: 400px;
}
.hero .left-side h1 {
  color: #f4ce14;
}
.hero .left-side h3 {
  color: #fbdabb;
}
.hero .left-side p {
  margin-top: 2em;
}

.hero button {
  padding: 8px;
  margin-top: 2em;
  background-color: #f4ce14;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.3s ease;
}

.hero button:hover {
  background-color: #fbdabb;
}

/* hero right */

.hero .right-side {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: box-shadow 0.3s ease;
  margin-left: 6em;
}

.hero .right-side:hover {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
}

.hero .right-side img {
  max-width: 400px;
  max-height: 400px;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.6s ease;
}

.hero .right-side:hover img {
  transform: scale(1.1);
}

/* Specials */
/* Specials.css */

.specials {
  background-color: #fbdabb;
  padding: 2em 0;
}

.specials h2 {
  text-align: center;
  color: #495e57;
}

.specials-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.special-card {
  width: 300px;
  margin: 15px;
  background-color: #ee9972;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.special-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.special-card .card-info {
  padding: 8px;
}
.special-card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: yellow;
  font-weight: bold;
}
.special-card h3 {
  letter-spacing: 1px;
}

.special-card p.description {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #666;
  margin: 3em 0;
}

/* Reviews */
/* Add these styles to your CSS file */
.reviews-container {
  display: flex;
  justify-content: space-around;
}

.review-card {
  width: 300px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info h3 {
  margin-bottom: 10px;
  color: #f4ce14;
}

.review-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.score {
  background-color: #f4ce14;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
}
