:root {
  --darkteal: #264653;
  --teal: #2a9d8f;
  --yellow: #e9c46a;
  --salmon: #e76f51;
  --terracotta: #fbdabb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--salmon);
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: var(--darkteal);

  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}
nav a:hover {
  color: var(--teal);
}

/* Main */
main {
  min-height: 70vh;
}
/* Footer */

footer {
  padding: 3em 0 1em;
  background-color: var(--darkteal);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  max-width: 600px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.links,
.contact-info,
.social {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  color: #fff;
  margin-right: 20px;
}

.footer-info ul li {
  margin-bottom: 10px;
}

.footer-info h3 {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
  color: #f4ce14;
}

.links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.links a:hover {
  color: var(--yellow);
}

/* MENU */

.menu {
  background-color: var(--terracotta);
}
.menu h2 {
  text-align: center;
  padding: 1em 0;
}
.menu-container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 4em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.menu-column {
  flex: 1;
  padding: 0 10px;
}

.menu-heading {
  color: var(--teal);
  font-size: 2rem;
  margin-bottom: 1em;
}

/* Section Styles */
.menu-section {
  margin-bottom: 7em;
}

.section-heading {
  color: var(--darkteal);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* List Styles */
.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  color: var(--darkteal);
}
